<h1>Edit画面</h1>

<div class="">
  <%= form_for @user do |f| %>

     <p>
       <%= f.label :name, 'ユーザー名' %>
       <%= f.text_field :name %>
     </p>

     <p>
       <%= f.label :email, "メールアドレス" %>
       <%= f.text_field :email %>
     </p>

     <%= f.submit('更新') %>
  <% end %>
</div>
